.button {
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: $color-bluko-500;
    color: $color-pure-white;

    &--image-button {
        padding: 0;
        background: none;
    }

    &--disabled {
        background-color: $color-grey-100;
        color: $color-grey-300;
        cursor: not-allowed;
    }
}