.text-primary {
    color: $color-grey-1000;
}

.text-secondary {
    color: $color-grey-700;
}

.text-inverted-primary {
    color: $color-pure-white;
}

.text-inverted-secondary {
    color: $color-bluko-200;
}