.topbar {
    display: flex;
    max-width: 1348px;
    margin: auto;
    width: 100%;
    padding: 24px 0;
}

@media only screen and (min-width: 1080px) and (max-width:1360px) {
    .topbar {
        padding: 24px 10px;
    }
}