$background-color: #F4F3EF;

$color-grey-100: #EAE9E3;
$color-grey-1000: #2C2302;
$color-grey-300: #C0BEB8;
$color-grey-500: #96948A;
$color-grey-700: #6B6651;
$color-pure-white: #ffffff;
$color-bluko-200: #ACBEF7;
$color-bluko-500: #2D50E6;
$color-bluko-400: #5875EC;
$color-terracota-500: #D95762;
$color-green: #11A011;